<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Jannis Reinelt</title>
<style>
  body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
  
  .rectangle {
    width: 25%;
    height: 100vh;
    float: left;
    position: relative;
    cursor: pointer;
    background-color: rgb(0, 0, 0); /* This is to visualize the rectangles */
  }
  
  .rectangle:hover .word {
    opacity: 1;
  }
  
  .word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(231, 145, 145); /* Black text on white rectangles */
    font-size: 2.7vw;
    opacity: 0;
    transition: opacity 2s ease;
  }
</style>
</head>
<body>

<div class="rectangle">
  <a href="/aboutme" style="text-decoration: none; color: black;">
    <div class="word">about me</div>
  </a>
</div>

<div class="rectangle">
  <a href="/projects" style="text-decoration: none; color: black;">
    <div class="word">projects</div>
  </a> 
</div>

<div class="rectangle">
  <a href="/aboutmywork" style="text-decoration: none; color: black;">
    <div class="word">about my work</div>
  </a>
</div>

<div class="rectangle">
  <a href="/contact" style="text-decoration: none; color: black;">
    <div class="word">contact me</div>
  </a>
</div>

</body>
</html>

